<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JvmMemoryMoitor</title>
    <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unicorn.main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unicorn.grey.css') }}" class="skin-color" />
            
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    
    
    <div id="header">
      <h1><a href="dashboard">JvmMemoryMoitor</a></h1>
    </div>
    
    <div id="search">
      <input type="text" placeholder="Search here..." /><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
    </div>
    <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="login"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
    <div id="sidebar">
      <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
      <ul>
        <li class="active"><a href="dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
        
                {% for hostname in hostlist %}
                    <li class="submenu">
                    <a href="#"><i class="icon icon-th-list"></i> <span>{{ hostname }}</span> <span class="label">3</span></a>
                    <ul>
                    {% for pname in hostlist[hostname] %}
                        <!-- <li><a href="getgraph/?ip={{ hostname }}&jvmType=&name={{ pname }}" >{{ pname }}</a></li> -->
                        <li><a onclick="fillimgtag('getgraph/?ip={{ hostname }}&jvmType=&name={{ pname }}')">{{ pname }}</a></li>
                    {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
      </ul>
    
    </div>
    
    <div id="style-switcher">
      <i class="icon-arrow-left icon-white"></i>
      <span>Style:</span>
      <a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
      <a href="#blue" style="background-color: #2D2F57;"></a>
      <a href="#red" style="background-color: #673232;"></a>
    </div>
    
    <div id="content">
      <div id="content-header">
        <h1>Dashboard</h1>
        
      </div>
      <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="#" class="current">Dashboard</a>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <div class="widget-box">
              <div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Site Statistics</h5><div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update stats</a></div></div>
              <div class="widget-content">
                <div class="row-fluid">
                <div class="span12">
                <div id="list"></div>
<!--                   {% for staticImg in staticImg %}
                    <div class='server-node'>
                          <ol class='graph'>
                            <li><img src="{{ url_for('static', filename = staticImg) }}" width="882" height="345"></li>
                          </ol>
                    </div>
                  {% endfor %} -->
                  <div class='server-node'>
                    <ol class='graph'>
                        <li><img src="{{ url_for('static', filename = staticImg) }}" width="882" height="345"></li>
                    </ol>
                  </div>
                </div>  
                </div>              
              </div>
            </div>          
          </div>
        </div>
        <div class="row-fluid">
          <div id="footer" class="span12">
            2016 &copy; ZYW Admin.  <a href="https://www.8win.com">章鱼彩票</a>
          </div>
        </div>
      </div>
    </div>


            <script src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.ui.custom.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.flot.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.flot.resize.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.peity.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/unicorn.js') }}"></script>
            <script src="{{ url_for('static', filename='js/unicorn.dashboard.js') }}"></script>

                <script type="text/javascript">
       function fillimgtag(url) {
        $.ajax({
            url: 'http://192.168.0.61:5000/'+url,
            type: 'GET',
            timeout: 1000,
            cache: false,
            beforeSend: LoadFunction, //加载执行方法 
            error: erryFunction, //错误执行方法 
            success: succFunction //成功执行方法 
        })

        function LoadFunction() {
            $("#ddlist").html('加载中...');
        }

        function erryFunction() {
            alert("error");
        }

        function succFunction(tt) {
            $("#ddlist").html('');
            data = tt + "";
            adata = data.split(',');
	    var timestamp = new Date().getTime();
            $(".graph li").remove()
            for (var i = 0; i < adata.length; i++) {
                // $("#list").html($("#list").html() + "<br>" + adata[i] + "<br/>");
                // $(".graph img").attr("src",adata[i]); //accord class name 
                //$(".graph li").remove()
		//防止图片缓存不刷新
                $(".graph").append("<li><img src="+ adata[i]+"?"+timestamp +" width=\"882\" height=\"345\"></li>");
            }
        }
    }
</script>       


  </body>
</html>
